/* applying basic page frame, 2 column-format, background and spacing */
html {
  background-image: url(img/background.jpg);
  background-repeat: repeat; }

body {
  font-family: sans-serif;
  color: #4b4b4b;
  width: 980px;
  margin: 20px auto;
  background-image: url(img/board.png);
  background-repeat: repeat-y;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }
  body div.entry {
    margin-bottom: 1.5em;
    padding-top: 10px;
    background-image: url(img/article_separator.png);
    background-repeat: no-repeat; }
  body.individual div.entry {
    padding-top: 0;
    background: none; }

#header {
  margin-top: 8px;
  margin-left: 20px;
  display: block;
  width: 620px;
  position: absolute;
  z-index: 2; }

#content {
  display: block;
  width: 980px;
  position: relative;
  padding-top: 20px; }
  #content p.return {
    margin: 0;
    position: relative;
    clear: left;
    margin-left: 20px; }

#main {
  display: block;
  width: 620px;
  margin: 120px 0 0 20px;
  float: left; }

#utilities {
  margin: 0 20px 0 660px;
  width: 300px;
  position: relative; }

dl dt {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; }

dl dd p, dd ul {
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.4; }

dd ul {
  padding-left: 18px; }

dl.navi dt, dl.others dt {
  margin-top: 20px;
  margin-left: 80px; }

dl.navi dd, dl.others dd {
  margin-left: 80px; }

#footer {
  width: 940px;
  margin: 24px 20px 0 20px;
  padding-bottom: 20px;
  font-size: 10px;
  text-align: right; }
  #footer a {
    color: #000011; }
  #footer ul {
    margin: 0; }
    #footer ul.support {
      padding: 0; }
      #footer ul.support li {
        display: inline; }

/* apply styles for main form, except individual blog entry */
body h1 {
  display: none; }
body.individual h1 {
  display: block;
  margin: 0;
  clear: both;
  padding-top: 20px;
  background-image: url(img/article_separator.png);
  background-repeat: no-repeat; }

div.entry ul.info {
  padding: 0;
  margin: 0; }
  div.entry ul.info li {
    display: inline; }

p.return {
  padding-top: 20px; }
  p.return a {
    display: block;
    text-align: center;
    line-height: 1.5em;
    margin-right: 20px;
    width: 940px;
    height: 2em;
    padding-top: 4px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }

/* header part, including siteName, description and globalNavi */
#header {
  line-height: 1;
  padding-top: 0.5em; }

p.siteName {
  font-size: 72px;
  display: inline; }
  p.siteName a {
    color: #5e5e5e;
    text-decoration: none; }

p.description {
  margin-left: 0.3em;
  font-size: 24px;
  display: inline;
  color: #5e5e5e; }

span.title-decoration {
  color: #357ee3; }

.siteName, .description, #globalNavi {
  font-family: "Impact", "FreeSans", "Arial-BoldMT", sans-serif;
  font-weight: normal;
  margin-bottom: 0; }

#globalNavi {
  font-size: 24px;
  margin-top: 0.5em;
  padding: 0; }
  #globalNavi li {
    margin-right: 4px;
    list-style: none;
    float: left;
    display: block;
    line-height: 1; }
  #globalNavi a {
    background: rgba(200, 200, 200, 0.4);
    display: block;
    border-radius: 10px;
    text-align: center;
    padding: 0 0.5em; }
  #globalNavi a:hover, #globalNavi .current a {
    background: rgba(255, 190, 64, 0.4);
    color: #f69966;
    text-decoration: underline; }

/* about */
dl.navi {
  margin-top: 0.5em; }
  dl.navi dt:first-of-type {
    padding-top: 8px;
    position: absolute;
    z-index: 1; }
    dl.navi dt:first-of-type:before {
      width: 0px;
      height: 0px;
      content: "";
      position: absolute;
      border-left: 20px solid transparent;
      border-top: 16px solid white;
      transform: translate(-39px, 0);
      -webkit-transform: translate(-39px, 0);
      -moz-transform: translate(-39px, 0); }
  dl.navi dd:first-of-type {
    margin-left: 60px;
    padding: 52px 20px 16px 20px;
    width: 240px;
    background: white;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }

/* entry textBody */
.textBody {
  padding-top: 14px;
  line-height: 1.8; }
  .textBody h2 {
    margin-top: 0.8em;
    padding: 2px 0 0 4px;
    font-family: sans-serif;
    font-size: 123.1%;
    width: 560px;
    border-left: 5px solid;
    border-bottom: 3px dotted; }
  .textBody h3 {
    margin: 0.8em 0 0.1em 0;
    padding: 2px 0 0 0;
    font-size: 114%;
    width: 480px;
    border-bottom: 2px dotted; }
  .textBody h4 {
    margin: 0.8em 0 0.1em 0;
    padding: 2px 0 0 0;
    width: 480px;
    font-size: 108%; }

h1, h2 {
  font-family: "Impact", "FreeSans", "Arial-BoldMT", sans-serif;
  font-weight: normal;
  margin-top: 0.4em;
  margin-bottom: 0;
  font-size: 28px; }

a {
  color: #357ee3;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* site updates information from repository */
ul.updates {
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 0 3px 10px #dedede, 0 1px 5px #888888;
  -moz-box-shadow: 0 3px 10px #dedede, 0 1px 5px #888888; }
  ul.updates li {
    margin: 5px 5px;
    list-style: none;
    border-bottom: 1px solid #eeeeee; }
    ul.updates li .commit-row {
      white-space: nowrap; }
    ul.updates li img {
      width: 20px;
      height: 20px;
      margin: 5px 10px 0px 3px;
      position: auto; }
    ul.updates li a {
      font-size: 10px; }
    ul.updates li time {
      font-size: 8px;
      margin: 0px 5px; }
    ul.updates li .authorship {
      margin: 0px;
      padding: 0px; }
    ul.updates li span {
      display: inline-block;
      height: 100%; }
  ul.updates li.loading {
    text-align: center;
    background-image: url("../images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px; }
    ul.updates li.loading img {
      width: 60px;
      height: 60px; }
