<meta charset="UTF-8" />
<meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="We like JavaScript. このページは Sapporo.js の活動について紹介するページです." />
<title>Sapporo.js{% if page.title %} | {{ page.title }}{% endif %}</title>
<link rel="stylesheet" href="/sapporojs-web/css/sunlight.css" />
<link rel="stylesheet" href="/sapporojs-web/css/common.css" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml" />
<link rel="apple-touch-icon" href="/sapporojs-web/images/tabineko-mini.png" />
