<meta charset="UTF-8" />
<meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN" />
<meta name="viewport" content="width=device-width" />
{% if page.title %}
<meta name="description" content="{{ page.title }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
{% endif %}
<title>Sapporo.js{% if page.title %} | {{ page.title }}{% endif %}</title>
<link rel="icon" href="/favicon.ico" />
<link rel="stylesheet" href="/css/sunlight.css" />
<link rel="stylesheet" href="/css/common.css" />
<link rel="alternate" type="application/rss+xml" title="title" href="/rss.xml" />
<link rel="apple-touch-icon" href="/images/tabineko-mini.png" />
{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
{% else %}
<meta property="og:title" content="{{ site.title }}">
{% endif %}
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.base_url }}{{ page.url | remove:'/index.html' }}" />
<meta property="og:image" content="{{ site.base_url}}/images/tabineko.png" />
{% if page.title %}
<meta property="og:description" content="{{ page.title }}" />
{% else %}
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
