<script type="text/javascript" src="http://sapporojs.no.de/socket.io/socket.io.js"></script>
<script type="text/javascript" >
  var socket = io.connect('http://sapporojs.no.de/');
</script>
<script type="text/javascript" src="/js/cursor.js"></script>
<script type="text/javascript" >
  jQuery(function($) {
    socket.on('info', function (data) {
      console.log(JSON.stringify(data));
    });
    socket.on('entry cursor', function(data) {
      Cursor.add(data.id);
    });
    socket.on('move cursor', function(data) {
      var screen = data.screen;
      var cursor = Cursor.get(data.id);
      cursor.update(
        screen.x * w.width() / screen.width,
        screen.y * w.height() / screen.height
      );
    });
    socket.on('disconnect', function(data) {
      Cursor.remove(data.id);
    });

    var w = $(window);
    w.mousemove(function(e) {
      socket.emit('mouse position', {
        width:  w.width(),
        height: w.height(),
        x: e.clientX,
        y: e.clientY
      });
    });
  });
</script>
<script>
  jQuery(function($){
    var w = $(window);
    var counter = $('<div />');
    counter
      .attr('align', 'center')
      .css({
        'font-size': '3em',
        'line-height': '1',
        'top': 0,
        'left': w.width() - counter.width(),
        'width': 50,
        'height': 50,
        'border-radius': 25,
        'position': 'fixed',
        'color': 'white',
        'background-color': "rgb(128,30,0)"
      })
      .css('background-color', "rgba(128,30,0,0.4)") // for CSS3
      .appendTo(document.body);
    var notifyCount = function(count) {
      counter
        .css('left', w.width() - counter.width())
        .text(count)
        .fadeIn(3000, function() {
          counter.fadeOut(2000);
        });
    }
    socket.on('change count', function(data) {
      notifyCount(data.clientCount);
    });
  });
</script>
