<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.relative-date.js"></script>

<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/js/updates_from_gh.js"></script>

<script type="text/javascript" src="http://tricknotes.no.de/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://tricknotes.no.de/js/firefly.js"></script>
