<script type="text/javascript" src="/js/lib/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.relative-date.js"></script>

<script type="text/javascript" src="/js/lib/underscore-min.js"></script>
<script type="text/javascript" src="/js/updates_from_gh.js"></script>

<script type="text/javascript" src="http://tricknotes.no.de/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://tricknotes.no.de/js/firefly.js"></script>
<script type="text/javascript" src="/js/counter_for_favicon.js"></script>
