@import './config';

#search-form {
  float: right;
}

$modal-width: 950px;

#search-result {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    border-bottom: 1px dotted;
    line-height: $padding-scale * 8;
    padding-bottom: $padding-scale * 6;
  }

  .search-textfield {
    float: right;
    width: 200px;
  }

  .results {
    font-size: $base-font-size * 0.9;
    margin-top: 50px;
  }
}

#modal-wrapper {
  background: #fff;
  width: $modal-width;
  margin: 30px auto;
  position: relative;
  min-height: 550px;
  z-index: 99999;
  outline: none;
  overflow: scroll;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#modal-container {
  padding: $padding-scale * 8 $padding-scale * 30;
}

#modal-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99998;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(5%, rgba(0,0,0,0.3)), color-stop(100%, rgba(0,0,0,0.7)));
  background-image: -webkit-radial-gradient(50% 50%, ellipse cover, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0.7) 100%);
  background-image: -moz-radial-gradient(50% 50%, ellipse cover, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0.7) 100%);
  background-image: -o-radial-gradient(50% 50%, ellipse cover, rgba(0,0,0,0.3) 5%, rgba(0,0,0,0.7) 100%);
  background-image: radial-gradient(50% 50%, ellipse cover, rgba(0,0,0,0.3) 5%,rgba(0,0,0,0.7) 100%);
}
