//= require ./vendor/normalize
//
//= require ./search

$base-color: #ba2621;
$text-color: #000;
$inverted-text-color: #afafaf;

$background-color: #292929;

$base-font-size: 0.9em;

$padding-scale: 0.25em;

$content-width: 40em;

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border-top: $padding-scale * 1.5 solid $base-color;
  background-color: $background-color * 5;
  background-image: image-url('vendor/wall-paper.jpg');
  font-size: $base-font-size;
}

h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $base-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

#wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  position: absolute;
}

#container {
  margin: 0 auto;
  padding: 0;
  width: $content-width;
}

header {
  margin: $padding-scale * 12 0 $padding-scale * 30 0;
  padding: 0;

  h1 {
    font-size: $base-font-size * 3.2;
    margin-bottom: 10px;
  }
}

nav {
  ul {
    float: right;
    list-style: none;

    li {
      font-size: $base-font-size * 1.2;
      display: inline-block;
      margin: 0 $padding-scale * 2;
    }
  }
}

.blog {
  padding-bottom: $padding-scale * 20;
  border-bottom: 1px dotted;

  .tags {
    list-style-type: none;
    float: right;

    li {
      display: inline-block;
    }
  }

  time {
    float: right;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
  }
}

.archive {
  li {
    margin-bottom: $padding-scale;
    margin-right: $padding-scale * 4;
  }
}

footer {
  background-color: $background-color;
  border-top: $padding-scale * 1.5 solid $base-color;
  float: left;
  width: 100%;
  color: $inverted-text-color;
  margin-top: $padding-scale * 12;

  h2 {
    border-bottom: 1px solid;
  }

  a:hover {
    color: $inverted-text-color;
  }
}

#member-icons {
  padding-left:0px;

  img {
    padding: 2px;
    margin: 1px;
    background-color: $inverted-text-color;
  }

  li {
    list-style-type: none;
    display: inline-block;
  }
}

$footer-content-width: $content-width * 1.2;

#footer-container {
  margin: 0 auto;
  width: $footer-content-width;

  h2 {
    font-size: $base-font-size * 1.5;
  }

  .description {
    font-size: $base-font-size * 0.9;
  }
}

$footer-margin: $footer-content-width / 20;
$footer-width: $footer-content-width / 10 * 3;

@mixin footer-content {
  float: left;
  width: $footer-width;
  padding-bottom: 20px;
}

#footer-left {
  @include footer-content;
}

#footer-middle {
  @include footer-content;
  margin-left: $footer-margin;
}

#footer-right {
  @include footer-content;
  margin-left: $footer-margin;
}

#copyright {
  text-align: right;
  font-size: 11px;
  font-style: italic;
}

.unsupported-browser-warning {
  margin: 0;
  padding: 20px 50px 20px 50px;
  background-color: #eedd82;
}
