//= require ./vendor/normalize
//
//= require ./search

$base-color: #ba2621;
$text-color: #000;
$inverted-text-color: #afafaf;

$background-color: #292929;

$padding-scale: 0.25em;

$content-width: 40em;

body {
  border-top: $padding-scale * 1.5 solid $base-color;
  background-image: image-url('vendor/wall-paper.jpg');
}

#wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  position: absolute;
}

a {
  color: $base-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

#container {
  margin: 0 auto;
  padding: 0;
  width: $content-width;
}

header {
  margin: $padding-scale * 12 0 $padding-scale * 30 0;
  padding: 0;
}

nav {
  ul {
    float: right;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 $padding-scale;
    }
  }
}

.blog {
  padding-bottom: $padding-scale * 20;
  border-bottom: 1px dotted;

  time {
    float: right;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
  }
}

footer {
  background-color: $background-color;
  border-top: $padding-scale * 1.5 solid $base-color;
  float: left;
  width: 100%;
  color: $inverted-text-color;
  margin-top: $padding-scale * 12;

  h2 {
    border-bottom: 1px solid;
  }

  a:hover {
    color: $inverted-text-color;
  }
}

#member-icons {
  padding-left:0px;

  img {
    padding: 2px;
    margin: 1px;
    background-color: $inverted-text-color;
  }

  li {
    list-style-type: none;
    display: inline-block;
  }
}

#footer-container {
  margin: 0 auto;
  width: $content-width;
}

$footer-margin: $content-width / 20;
$footer-width: $content-width / 10 * 3;

@mixin footer-content {
  float: left;
  width: $footer-width;
}

#footer-left {
  @include footer-content;
}

#footer-middle {
  @include footer-content;
  margin-left: $footer-margin;
}

#footer-right {
  @include footer-content;
  margin-left: $footer-margin;
}

#copyright {
  text-align: right;
  font-size: 11px;
  font-style: italic;
}
