//= require ./vendor/normalize
//
//= require ./search

#container {
  margin: 0 auto;
  padding: 0;
  width: 50em;
}

header {
  margin: 0.75em 0 3.75em;
  padding: 0;
}

nav {
  ul {
    float: right;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 0.25em;
    }
  }
}

#content {
  .blog {
    time {
      float: right;
    }
  }
}

footer {
  h2 {
    border-bottom: 1px solid;
  }
}

@mixin footer-content {
  float: left;
  width: 15em;
}

#footer-left {
  @include footer-content;
}

#footer-middle {
  @include footer-content;
  margin-left: 2.5em;
}

#footer-right {
  @include footer-content;
  margin-left: 2.5em;
}

#copyright {
  text-align: right;
}
