/* about */
dl.navi
  margin-top: 0.5em

  // "ABOUT" set over dd using absolute position
  dt:first-of-type
    padding-top: 8px
    position: absolute
    z-index: 1

    // add triangle for balloon
    &:before
      width: 0px
      height: 0px
      content: ""
      position: absolute
      // border makes triangle
      border-left: 20px solid transparent
      border-top: 16px solid opacify($base-color1, 1)
      // adjustment triangle
      @include transform(translate(-39px, 0))

  // this element has background for balloon
  dd:first-of-type
    // baloon image start with 20px left, actualize with negative margin.
    // it is canceled with 20px of padding left.
    margin-left: -20px
    padding: 52px 20px 16px 20px
    width: 240px
    background: opacify($base-color1, 1)
    @include border-radius(20px)
    @include box-shadow(4px 4px 8px rgba(0,0,0,0.3))
