/* two-column format */
body
  width: 980px
  margin: 20px auto

#header
  display: block
  width: 620px
  position: absolute
  z-index: 2

#content
  display: block
  width: 980px
  position: relative
  padding-top: 20px

#main
  display: block
  width: 620px
  margin: 120px 0 0 20px
  float: left

#utilities
  margin: 0 20px 0 660px
  width: 300px
  position: relative

#content p.return
  margin: 0
  position: relative
  clear: left

#footer
  width: 940px

/* spacing */
#header
  margin-top: 8px

#header, #footer, #content p.return
  margin-left: 20px

div.entry
  margin-bottom: 1.5em

dl.navi dt, dl.others dt
  margin-top: 20px
  margin-left: 80px

dl.navi dd, dl.others dd
  margin-left: 80px

#footer
  margin: 24px 20px 0 20px
  padding-bottom: 20px

/* apply background */
html
  background-image: url(img/background.jpg)
  background-repeat: repeat

body
  background-image: url(img/board.png)
  background-repeat: repeat-y
  border-radius: 20px
  -moz-border-radius: 20px
  -webkit-border-radius: 20px

body div.entry
  padding-top: 10px
  background-image: url(img/article_separator.png)
  background-repeat: no-repeat

body.individual div.entry
  padding-top: 0
  background: none
