/* siteName and description*/
p.siteName
  margin-top: 0px
  font-size: 72px
  display: inline

p.description
  margin-left: 0.3em
  font-size: 24px
  display: inline

p.siteName a, p.description a
  color: #5e5e5e

span.title-decoration
  color: #357ee3

p.siteName a:hover
  text-decoration: none

.siteName, .description, #globalNavi
  font-family: "Impact", "FreeSans", "Arial-BoldMT", sans-serif
  font-weight: normal
  margin-bottom: 0

#globalNavi li.current a
  text-decoration: underline

#globalNavi
  font-size: 24px

