/* header part, including siteName, description and globalNavi */
#header
  line-height: 1
  padding-top: 0.5em

p.siteName
  font-size: 72px
  display: inline

  a
    color: $title-color
    text-decoration: none

p.description
  margin-left: 0.3em
  font-size: 24px
  display: inline
  color: $title-color

// to decorate texts "js" and "javascript"
span.title-decoration
  color: $accent-color

.siteName, .description, #globalNavi
  font-family: "Impact", "FreeSans", "Arial-BoldMT", sans-serif
  font-weight: normal
  margin-bottom: 0

// globalNavi is navigations under siteName
#globalNavi
  font-size: 24px
  margin-top: 0.5em
  padding: 0

  li
    margin-right: 4px
    list-style: none
    float: left
    display: block
    line-height: 1

  a
    background: $background-for-accent-color
    display: block
    @include border-radius(10px)
    text-align: center
    padding: 0 0.5em

  a:hover, .current a
    background: $background-for-key-color
    color: $key-color
    text-decoration: underline

  // standard pattern for clear fix with pseudo class
  &:after
    clear: both
    content: ""
    display: block
    width: 0
    height: 0
    visibility: hidden
