/* apply style */
body h1
  display: none

body.individual h1
  display: block
  margin: 0
  clear: both
  padding-top: 20px
  background-image: url(img/article_separator.png)
  background-repeat: no-repeat

body.individual div.entry p
  margin: 0.1em 0 0.1em 0
  width: 120%

div.entry ul.info
  padding: 0
  margin: 0

div.entry ul.info li
  display: inline

div.entry ul.info .update
  display: none

#footer ul.support
  padding: 0

#footer ul.support li
  display: inline

p.return
  padding-top: 20px

p.return a
  display: block
  text-align: center
  line-height: 1.5em
  margin-right: 20px
  width: 940px
  height: 2em
  padding-top: 4px
  background: rgba(255, 255, 255, 0.6)
  border-radius: 10px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
