@charset "utf-8";

/* two-column format */
body {
    width: 980px;
    margin: 20px auto;
}

#header {
    display: block;
    width: 620px;
    position: absolute;
    z-index: 2;
}

#content {
    display: block;
    width: 980px;
    position: relative;
    padding-top: 20px;
}

#main {
    display: block;
    width: 620px;
    margin: 120px 0 0 20px;
    float:left;
}

#utilities {
    margin: 0 20px 0 660px;
    width: 300px;
    position:relative;
}

#content p.return {
    margin: 0;
    position: relative;
    clear: left;
}

#footer {
    width: 940px;
}

/* font and letter settings */
body {
    font-family: sans-serif;
    color: #4b4b4b;
}

div.textBody, dd {
    line-height: 1.8;
}

.siteName, .description, h1, h2, #globalNavi {
    font-family: "Impact", "FreeSans", "Verdana-Bold", sans-serif;
    font-weight: normal;
    margin-top: 0.4em;
    margin-bottom: 0;
}

h1, h2 {
    font-size: 28px;
}

a {
    color: #357ee3;
    text-decoration: none;
}

#globalNavi li.current a,
a:hover {
    text-decoration: underline;
}

#globalNavi {
    font-size: 24px;
}

dl dt {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

dl dd p, dd ul {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.4;
}

dd ul {
    padding-left: 18px;
}

#footer {
    font-size: 10px;
    text-align: right;
}

#footer a {
    color: #000011;
}

#footer ul {
    margin: 0;
}

/* apply background */
html {
    background-image: url(img/background.jpg);
    background-repeat: repeat;
}

body {
    background-image: url(img/board.png);
    background-repeat: repeat-y;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

body div.entry {
    padding-top: 10px;
    background-image: url(img/article_separator.png);
    background-repeat: no-repeat;
}

body.individual div.entry {
    padding-top: 0;
    background: none;
}

/* apply style */
body h1 {
    display: none;
}

body.individual h1 {
    display: block;
    margin: 0;
    clear: both;
    padding-top: 20px;
    background-image: url(img/article_separator.png);
    background-repeat: no-repeat;
}

body.individual div.entry p {
    margin: 0.1em 0 0.1em 0;
    width: 120%;
}

body.mainIndex .topicPath {
    display: none;
}

#globalNavi {
    margin-top: 0px;
    padding: 0;
}

#globalNavi li {
    margin-right:4px;
    list-style: none;
    float: left;
    display: block;
    line-height: 1;
}

#globalNavi a {
    background: rgba(200,200,200,0.4);
    display: block;
    border-radius: 10px;
    text-align: center;
    padding: 0 0.5em;
}

#globalNavi a:hover, #globalNavi .current a {
    background: rgba(255, 190, 64, 0.4);
    color: #f69966;
}

div.entry ul.info {
    padding: 0;
    margin: 0;
}

div.entry ul.info li {
    display: inline;
}

div.entry ul.info .update {
    display: none;
}

div.entry ul.info .category {
    margin-left: 0.2em;
    text-transform: uppercase;
    font-weight: bold;
}

div.entry ul.info .category a {
    color: #ee4444;
}

div.entry ul.reaction {
    margin: 0 auto 0 0;
    display: block;
    text-align: right;
}

div.entry ul.reaction li {
    margin: 0 0 0 0.5em;
    display: inline;
}

#footer ul.support {
    padding: 0;
}

#footer ul.support li {
    display: inline;
}

p.topicPath {
    margin: 0;
}

#path2 {
    padding-top: 20px;
    background-image: url(img/article_separator.png);
    background-repeat: no-repeat;
}

ul.flip {
    list-style: none;
    margin: 0;
    padding: 0;
}

#flip1 .newer, #flip1 .older {
    margin-top: -1em;
    margin-left: 0.5em;
    float: right;
}

p.return {
    padding-top: 20px;
}

p.return a {
    display: block;
    text-align: center;
    line-height: 1.5em;
    margin-right: 20px;
    width: 940px;
    height: 2em;
    padding-top: 4px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/* spacing */
#header {
    margin-top: 8px;
}
#header, #footer, #content p.return {
    margin-left: 20px;
}

div.entry {
    margin-bottom: 1.5em;
}

dl.navi dt, dl.others dt {
    margin-top: 20px;
    margin-left: 80px;
}

dl.navi dd, dl.others dd {
    margin-left: 80px;
}

#footer {
    margin: 24px 20px 0 20px;
    padding-bottom: 20px;
}

/* siteName and description*/
p.siteName {
    margin-top: 0px;
    font-size: 72px;
    display: inline;
}

p.description {
    margin-left: 0.3em;
    font-size: 24px;
    display: inline;
}

p.siteName a, p.description a {
    color: #5e5e5e;
}

span.title-decoration {
    color: #357ee3;
}

p.siteName a:hover {
    text-decoration: none;
}

/* calendar */
.calendar {
    font-size: 14px;
    text-align: center;
}

.calendar caption {
    width: 211px;
    font-weight: bold;
    font-size: 16px;
}

.calendar caption a {
    font-size: 20px;
    line-height: 1.4;
    display: inline-block;
    width: 32px;
    margin: 4px 0;
    background: rgba(200, 200, 200, 0.4);
    border-radius: 6px;
}

.calendar caption a:hover {
    background: rgba(255, 190, 64, 0.4);
    color: #f69966;
    transform: scale(1.0);
    transition: transform 0.2s ease-out;
    -webkit-transform: scale(1.0);
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transform: scale(1.0);
    -moz-transition: -moz-transform 0.2s ease-out;
}

.calendar caption a:active {
    transform: scale(1.5);
    transition: transform 0.0s ease-out;
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform 0.0s ease-out;
    -moz-transform: scale(1.5);
    -moz-transition: -moz-transform 0.0s ease-out;
}

.calendar th.sun {
    color: #ee4444;
}

.calendar th.sat {
    color: #4444ee;
}

.calendar th {
    background: rgba(255, 190, 64, 0.4);
}

.calendar {
    border-radius: 10px;
    border: 1px solid #8e8e8e;
}

.calendar th:first-child {
    border-top-left-radius: 10px;
}

.calendar th:last-child {
    border-top-right-radius: 10px;
}

.calendar tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.calendar tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.calendar th, .calendar td {
    width: 29px;
}

.calendar td a {
    margin: 0 auto;
    font-weight: bold;
    display: block;
    width: 90%;
    height: 100%;
    border-radius: 14px;
    background: rgba(200, 200, 200, 0.4);
}

.calendar td a:hover {
    background: rgba(255, 190, 64, 0.4);
    color: #f69966;
    transform: scale(2.0);
    transform: scale(2.0) rotate(720deg);
    transition: transform 1.2s ease-out;
    -webkit-transform: scale(2.0) rotate(720deg);
    -webkit-transition: -webkit-transform 1.2s ease-out;
    -moz-transform: scale(2.0) rotate(720deg);
    -moz-transition: -moz-transform 1.2s ease-out;
}

/* entry textBody */
.textBody {
    padding-top: 14px;
}

.textBody h2 {
    margin-top: 0.8em;
    padding: 2px 0 0 4px;
    font-family: sans-serif;
    font-size: 123.1%;
    width: 560px;
    border-left: 5px solid;
    border-bottom: 3px dotted;
}

.textBody h3 {
    margin: 0.8em 0 0.1em 0;
    padding: 2px 0 0 0;
    font-size: 114%;
    width: 480px;
    border-bottom: 2px dotted;
}

.textBody h4 {
    margin: 0.8em 0 0.1em 0;
    padding: 2px 0 0 0;
    width: 480px;
    font-size: 108%;
}

#flip2 {
    margin-top: 1.5em;
    padding-top: 20px;
    background-image: url(img/article_separator.png);
    background-repeat: no-repeat;
}

#flip2 li {
    margin: 0 0 0 auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.8em;
    width: 300px;
    border-bottom: 1px dotted;
}

#flip2 .older {
    float: left;
    text-align: left;
}

#flip2 .newer {
    float: right;
    text-align: right;
}

#flip2 li a {
    display: block;
    font-weight: normal;
}

div.section {
    clear: both;
}

/* comment and trackbacks */
#comments, #trackback {
    padding-top: 20px;
    background-image: url(img/article_separator.png);
    background-position: 0 16px;
    background-repeat: no-repeat;
}

#comments, div.entry ul.reaction li.comment {
    display: none;
}

#trackback dl {
    margin: 0;
}

#trackback dt {
    margin-top: 1.2em;
}

#trackback dd {
    margin-left: 0;
    font-size: 14px;
    padding-left: 3px;
    border: 1px dotted;
    background: rgba(255, 255, 255, 0.4);
}
