/* two-column format */
body {
    width: 980px;
    margin: 20px auto;
}

#header {
    display: block;
    width: 560px;
    position: absolute;
    z-index: 2;
}

#content {
    display: block;
    width: 960px;
    position: relative;
}

#main {
    display: block;
    width: 540px;
    margin: 120px 0 0 10px;
    padding: 0 20px 0 0;
    float:left;
}

#utilities {
    margin: 0 0 0 580px;
    width: 380px;
    position:relative;
}

#content p.return {
    margin: 0;
    position: relative;
    clear: left;
}

#footer {
    width: 960px;
}

/* apply background */
html {
    background-image: url(img/background.jpg);
    background-repeat: repeat;
}

body {
    background-image: url(img/board.png);
    background-repeat: repeat-y;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

p.siteName {
    margin-top: 0;
}

p.siteName a, p.description {
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
}

p.siteName a {
    background-image: url(img/title.png);
    width: 312px;
    height: 65px;
    float: left;
}

p.description {
    background-image: url(img/description.png);
    width: 182px;
    height: 22px;
    margin: 39px auto 0 324px;
}

#globalNavi {
    clear: left;
}

div.entry {
    padding-top: 6px;
    background-image: url(img/article_separator.png);
    background-repeat: no-repeat;
}

/* apply style */
h1 {
    display: none;
}

#globalNavi {
    padding: 0;
}

#globalNavi li {
    display: inline;
}

div.entry ul.info {
    padding: 0;
}

div.entry ul.info li {
    display: inline;
}

div.entry ul.reaction {
    margin: 0 auto 0 0;
    display: block;
    text-align: right;
}

div.entry ul.reaction li {
    margin: 0 0 0 0.5em;
    display: inline;
}

#footer ul.support {
    padding: 0;
}
#footer ul.support li {
    display: inline;
}

/* spacing */
#header {
    margin-top: 20px;
}
#header, #footer, #content p.return {
    margin-left: 10px;
}

div.entry {
    margin-bottom: 1.5em;
}

dl.navi dt, dl.navi dd, dl.others dt, dl.others dd {
    margin: 0 0 0 80px;
}

#footer {
    padding: 0 0 12px 0;
}
