/* two-column format */
body {
    width: 980px;
    margin: 20px auto;
}

#header {
    display: block;
    width: 560px;
    position: absolute;
}

#content {
    display: block;
    width: 960px;
    position: relative;
}

#main {
    display: block;
    width: 560px;
    margin: 120px 0 0 0;
    padding: 0 0 20px 0;
    float:left;
}

#utilities {
    margin: 0 0 0 580px;
    width: 380px;
    position:relative;
}

#content p.return {
    margin: 0;
    position: absolute;
    bottom: 20px;
}

#footer {
    width: 960px;
    margin: 0 auto;
    clear: left;
}

/* apply background */
html {
    background-image: url(img/background.jpg);
    background-repeat: repeat;
}

body {
    background-image: url(img/board.png);
    background-repeat: repeat-y;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

div.entry {
    padding-top: 6px;
    background-image: url(img/article_separator.png);
    background-repeat: no-repeat;
}

/* apply style */
h1 {
    display: none;
}

#globalNavi {
    padding: 0;
}

#globalNavi li {
    display: inline;
}

div.entry ul.info {
    padding: 0;
}

div.entry ul.info li {
    display: inline;
}

div.entry ul.reaction {
    margin: 0 auto 0 0;
    display: block;
    text-align: right;
}

div.entry ul.reaction li {
    margin: 0 0 0 0.5em;
    display: inline;
}

#footer ul.support {
    padding: 0;
}
#footer ul.support li {
    display: inline;
}