<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body class="individual single">
    <div id="header">
      {% include header.html %}
    </div>

    <div id="content">
      <div id="main">
        <div class="section entry">
          <h1>{{ page.title }}</h1>
          <ul class="info">
            <li class="date">{{ page.date | date: "%Y-%m-%d" }}</li>
            <li class="tag">
            {% if page.tag %}
              <a href="/sapporojs-web/tag/{{ page.tag }}">{{ page.tag }}</a>
            {% endif %}
            </li>
          </ul>
          <div class="textBody">
            {{ content }}
          </div>
        </div>
      </div><!-- end main-->

      <div id="utilities">
        {% include sidebar.html %}
      </div>

      <p class="return"><a href="#header">Return to page top</a></p>
    </div><!--end content-->
    <div id="footer">
      {% include footer.html %}
    </div><!--end footer-->

    <script type="text/javascript" src="/sapporojs-web/js/jquery.min.js"></script>
    {% include scripts.html %}
    {% include analytics_tracker.html %}
  </body>
</html>
