%p.unsupported-browser-warning
  Please note that Sapporo.js doesn't support Internet Explorer under 8.
  We are recommend upgarding to the latest
  #{link_to 'Internet Explorer', 'http://ie.microsoft.com'},
  #{link_to 'Google Chrome', 'http://chrome.google.com'},
  or #{link_to 'FireFox', 'http://mozilla.org/firefox'}.
